<section class="sale">
  <div class="container">
    <h1 class="title-sale">Sales</h1>
    <ul class="list-clock-sale">
      <li class="item-clock-sale">
        <picture>
          <source
            media="(min-width: 1200px)"
            srcset="
              ../img/sale/ul-clock-decktop-1-min.png    1x,
              ../img/sale/ul-clock-decktop-1@2x-min.png 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ../img/sale/ul-tablet-clock-1-min.png    1x,
              ../img/sale/ul-tablet-clock-1@2x-min.png 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ../img/sale/ul-clock-mobile-1-min.png    1x,
              ../img/sale/ul-clock-mobile-1@2x-min.png 2x
            "
          />

          <img src="../img/sale/ul-clock-decktop-1-min.png" alt="clock-1" />
        </picture>
      </li>
      <li class="item-clock-sale">
        <picture>
          <source
            media="(min-width: 1200px)"
            srcset="
              ../img/sale/ul-clock-decktop-2-min.png    1x,
              ../img/sale/ul-clock-decktop-2@2x-min.png 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ../img/sale/ul-tablet-clock-2-min.png    1x,
              ../img/sale/ul-tablet-clock-2@2x-min.png 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ../img/sale/ul-clock-mobile-2-min.png    1x,
              ../img/sale/ul-clock-mobile-2@2x-min.png 2x
            "
          />

          <img src="../img/sale/ul-clock-decktop-2-min.png" alt="clock-2" />
        </picture>
      </li>
      <li class="item-clock-sale">
        <picture>
          <source
            media="(min-width: 1200px)"
            srcset="
              ../img/sale/ul-clock-decktop-3-min.png    1x,
              ../img/sale/ul-clock-decktop-3@2x-min.png 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ../img/sale/ul-tablet-clock-3-min.png    1x,
              ../img/sale/ul-tablet-clock-3@2x-min.png 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ../img/sale/ul-clock-mobile-3-min.png    1x,
              ../img/sale/ul-clock-mobile-3@2x-min.png 2x
            "
          />

          <img src="../img/sale/ul-clock-decktop-3-min.png" alt="clock-3" />
        </picture>
      </li>

      <li class="item-clock-sale">
        <picture>
          <source
            media="(min-width: 1200px)"
            srcset="
              ../img/sale/ul-clock-decktop-4-min.png    1x,
              ../img/sale/ul-clock-decktop-4@2x-min.png 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ../img/sale/ul-tablet-clock-4-min.png    1x,
              ../img/sale/ul-tablet-clock-4@2x-min.png 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ../img/sale/ul-clock-mobile-4-min.png    1x,
              ../img/sale/ul-clock-mobile-4@2x-min.png 2x
            "
          />

          <img src="../img/sale/ul-clock-decktop-4-min.png" alt="clock-4" />
        </picture>
      </li>
    </ul>
  </div>
</section>
